In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [30]:
# File to Load (Remember to change the path if needed.)
home_prices = "Resources/Florida_Avg_HomeValues_Zillow.csv"
unemployment = "Resources/FL_State_Unemplyoment.csv"
population = "Resources/FL_CensusCounts.csv"
climate = "Resources/Rainfall_Florida_Counties__Monthly_2000-2021.csv"
# wages =

In [32]:
# Data Frames
home_prices_df = pd.read_csv(home_prices)
unemployment_df = pd.read_csv(unemployment_wages)
population_df =  pd.read_csv(population)
climate_df = pd.read_csv(climate)

In [34]:
climate_df.head()
home_prices_df.head()
unemployment_wages_df.head()
population_df.head()

,County,CountywidePopulation,Unincorporated Population,% of Total,Incorporated Population,% of Total.1,Year
0,Alachua *,271588,107807,0.396951,163781,0.603049,2020
1,Baker *,28532,20889,0.732125,7643,0.267875,2020
2,Bay,174410,77729,0.445668,96681,0.554332,2020
3,Bradford,28725,21708,0.755718,7017,0.244282,2020
4,Brevard,606671,225616,0.371892,381055,0.628108,2020