In [1]:
import warnings; 
warnings.simplefilter('ignore')

In [2]:
import pandas as pd
from fbprophet import Prophet

In [3]:
#pd.set_option('display.max_rows', None, 'display.max_columns', None)

In [24]:
M_df = pd.read_csv('Master_data_ML.csv')
M_df.dtypes

county                          object
year                             int64
totalpopulation                  int64
average_yearly_wage              int64
lowtiermedianhomevalue         float64
hightiermedianhomevalue        float64
singlefamilymedianhomevalue    float64
value_inches                   float64
murder                         float64
rape                           float64
robbery                        float64
aggravated_assault             float64
burglary                       float64
larceny                        float64
motor_vehicle_theft            float64
index_per_100k                 float64
employment                     float64
unemployment                     int64
labor_force                      int64
unemployment_rate              float64
county_code                      int64
SFMHVrange                      object
SFMHVclass                       int64
dtype: object

In [25]:
M_df['year'] = M_df['year'].map(str) +'-01-01'
M_df['year'] = pd.to_datetime(M_df['year'])
M_df['year'] = M_df['year'].dt.date
M_df['county'].unique()

array(['Alachua', 'Baker', 'Bay', 'Bradford', 'Brevard', 'Broward',
       'Calhoun', 'Charlotte', 'Citrus', 'Clay', 'Collier', 'Columbia',
       'DeSoto', 'Dixie', 'Duval', 'Escambia', 'Flagler', 'Franklin',
       'Gadsden', 'Gilchrist', 'Glades', 'Gulf', 'Hamilton', 'Hardee',
       'Hendry', 'Hernando', 'Highlands', 'Hillsborough', 'Holmes',
       'Indian River', 'Jackson', 'Jefferson', 'Lafayette', 'Lake', 'Lee',
       'Leon', 'Levy', 'Liberty', 'Madison', 'Manatee', 'Marion',
       'Martin', 'Miami-Dade', 'Monroe', 'Nassau', 'Okaloosa',
       'Okeechobee', 'Orange', 'Osceola', 'Palm Beach', 'Pasco',
       'Pinellas', 'Polk', 'Putnam', 'Santa Rosa', 'Sarasota', 'Seminole',
       'St. Johns', 'St. Lucie', 'Sumter', 'Suwannee', 'Taylor', 'Union',
       'Volusia', 'Wakulla', 'Walton', 'Washington'], dtype=object)

In [26]:
CountyGroups = []

In [27]:
for i in range(len(M_df.county.unique())):
    globals()[f'county{i}'] = pd.DataFrame(M_df.loc[M_df['county_code']==i])
    CountyGroups.append(f'county{i}')

In [28]:
CountyGroups

['county0',
 'county1',
 'county2',
 'county3',
 'county4',
 'county5',
 'county6',
 'county7',
 'county8',
 'county9',
 'county10',
 'county11',
 'county12',
 'county13',
 'county14',
 'county15',
 'county16',
 'county17',
 'county18',
 'county19',
 'county20',
 'county21',
 'county22',
 'county23',
 'county24',
 'county25',
 'county26',
 'county27',
 'county28',
 'county29',
 'county30',
 'county31',
 'county32',
 'county33',
 'county34',
 'county35',
 'county36',
 'county37',
 'county38',
 'county39',
 'county40',
 'county41',
 'county42',
 'county43',
 'county44',
 'county45',
 'county46',
 'county47',
 'county48',
 'county49',
 'county50',
 'county51',
 'county52',
 'county53',
 'county54',
 'county55',
 'county56',
 'county57',
 'county58',
 'county59',
 'county60',
 'county61',
 'county62',
 'county63',
 'county64',
 'county65',
 'county66']

In [29]:
county1

,county,year,totalpopulation,average_yearly_wage,lowtiermedianhomevalue,hightiermedianhomevalue,singlefamilymedianhomevalue,value_inches,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_vehicle_theft,index_per_100k,employment,unemployment,labor_force,unemployment_rate,county_code,SFMHVrange,SFMHVclass
17,Baker,2001-01-01,22562,23903,44580.0,135928.0,84900.0,44.01,1.0,3.0,4.0,83.0,78.0,337.0,38.0,2411.0,10060.0,443,10503,0.042,1,"(80000, 90000]",4
18,Baker,2002-01-01,22992,24108,51104.0,149413.0,94328.0,55.88,0.0,2.0,17.0,66.0,63.0,302.0,38.0,2122.0,9957.0,502,10459,0.048,1,"(90000, 100000]",5
19,Baker,2003-01-01,23383,25370,56025.0,161746.0,102230.0,56.98,0.0,1.0,10.0,53.0,89.0,296.0,42.0,2100.0,9922.0,504,10426,0.048,1,"(100000, 110000]",6
20,Baker,2004-01-01,23963,26503,65047.0,188634.0,118404.0,60.88,1.0,2.0,11.0,72.0,89.0,293.0,32.0,2087.0,10171.0,430,10601,0.041,1,"(110000, 120000]",7
21,Baker,2005-01-01,23953,27483,80196.0,230740.0,145879.0,58.90,0.0,5.0,10.0,107.0,78.0,383.0,23.0,2530.0,10751.0,361,11112,0.032,1,"(140000, 150000]",10
22,Baker,2006-01-01,25004,28143,91632.0,259273.0,166659.0,41.39,2.0,4.0,7.0,70.0,30.0,340.0,33.0,1944.0,11219.0,329,11548,0.028,1,"(160000, 170000]",12
23,Baker,2007-01-01,25623,28338,88792.0,250200.0,161143.0,44.56,3.0,5.0,4.0,69.0,28.0,277.0,21.0,1588.0,11477.0,436,11913,0.037,1,"(160000, 170000]",12
24,Baker,2008-01-01,25890,29124,75324.0,211041.0,136274.0,53.73,1.0,3.0,5.0,50.0,37.0,219.0,20.0,1294.0,11531.0,714,12245,0.058,1,"(130000, 140000]",9
25,Baker,2009-01-01,25899,29509,65049.0,181501.0,116914.0,53.28,1.0,13.0,8.0,31.0,68.0,298.0,13.0,1668.0,10887.0,1224,12111,0.101,1,"(110000, 120000]",7
26,Baker,2010-01-01,27115,29649,59521.0,165107.0,106369.0,41.20,0.0,1.0,7.0,39.0,51.0,272.0,13.0,1476.0,10197.0,1256,11453,0.110,1,"(100000, 110000]",6
27,Baker,2011-01-01,26927,30733,55781.0,154098.0,99638.0,49.36,0.0,4.0,6.0,32.0,43.0,259.0,11.0,1318.0,10274.0,1167,11441,0.102,1,"(90000, 100000]",5
28,Baker,2012-01-01,26938,30616,55689.0,153836.0,99876.0,61.23,0.0,4.0,9.0,39.0,51.0,230.0,16.0,1296.0,10277.0,998,11275,0.089,1,"(90000, 100000]",5
29,Baker,2013-01-01,26881,30955,60193.0,165902.0,108046.0,51.31,0.0,0.0,4.0,82.0,98.0,257.0,15.0,1696.0,10377.0,869,11246,0.077,1,"(100000, 110000]",6
30,Baker,2014-01-01,26991,31589,66531.0,182723.0,119204.0,62.13,0.0,1.0,6.0,114.0,70.0,237.0,10.0,1623.0,10454.0,738,11192,0.066,1,"(110000, 120000]",7
31,Baker,2015-01-01,27017,31746,73998.0,201558.0,132288.0,43.93,0.0,1.0,8.0,102.0,106.0,256.0,12.0,1795.0,10584.0,633,11217,0.056,1,"(130000, 140000]",9
32,Baker,2016-01-01,26965,32118,83988.0,225115.0,149259.0,45.27,1.0,4.0,8.0,105.0,103.0,194.0,19.0,1610.0,10892.0,564,11456,0.049,1,"(140000, 150000]",10
33,Baker,2017-01-01,27191,33240,91936.0,244925.0,163166.0,55.18,2.0,5.0,5.0,79.0,101.0,208.0,22.0,1552.0,11149.0,492,11641,0.042,1,"(160000, 170000]",12
34,Baker,2018-01-01,27652,33877,99162.0,262403.0,175721.0,52.80,2.0,5.0,7.0,81.0,49.0,215.0,24.0,1385.0,11228.0,407,11635,0.035,1,"(170000, 180000]",13