In [1]:
import warnings; 
warnings.simplefilter('ignore')

In [2]:
import pandas as pd
from fbprophet import Prophet

In [3]:
#pd.set_option('display.max_rows', None, 'display.max_columns', None)

In [24]:
M_df = pd.read_csv('Master_data_ML.csv')
M_df.dtypes

county                          object
year                             int64
totalpopulation                  int64
average_yearly_wage              int64
lowtiermedianhomevalue         float64
hightiermedianhomevalue        float64
singlefamilymedianhomevalue    float64
value_inches                   float64
murder                         float64
rape                           float64
robbery                        float64
aggravated_assault             float64
burglary                       float64
larceny                        float64
motor_vehicle_theft            float64
index_per_100k                 float64
employment                     float64
unemployment                     int64
labor_force                      int64
unemployment_rate              float64
county_code                      int64
SFMHVrange                      object
SFMHVclass                       int64
dtype: object

In [25]:
M_df['year'] = M_df['year'].map(str) + '01-01'
M_df['year'] = pd.to_datetime(M_df['year'])
M_df['year'] = M_df['year'].dt.date
M_df['county'].unique()

array(['Alachua', 'Baker', 'Bay', 'Bradford', 'Brevard', 'Broward',
       'Calhoun', 'Charlotte', 'Citrus', 'Clay', 'Collier', 'Columbia',
       'DeSoto', 'Dixie', 'Duval', 'Escambia', 'Flagler', 'Franklin',
       'Gadsden', 'Gilchrist', 'Glades', 'Gulf', 'Hamilton', 'Hardee',
       'Hendry', 'Hernando', 'Highlands', 'Hillsborough', 'Holmes',
       'Indian River', 'Jackson', 'Jefferson', 'Lafayette', 'Lake', 'Lee',
       'Leon', 'Levy', 'Liberty', 'Madison', 'Manatee', 'Marion',
       'Martin', 'Miami-Dade', 'Monroe', 'Nassau', 'Okaloosa',
       'Okeechobee', 'Orange', 'Osceola', 'Palm Beach', 'Pasco',
       'Pinellas', 'Polk', 'Putnam', 'Santa Rosa', 'Sarasota', 'Seminole',
       'St. Johns', 'St. Lucie', 'Sumter', 'Suwannee', 'Taylor', 'Union',
       'Volusia', 'Wakulla', 'Walton', 'Washington'], dtype=object)

In [26]:
CountyGroups = []

In [27]:
for i in range(len(M_df.county.unique())):
    globals()[f'county{i}'] = pd.DataFrame(M_df.loc[M_df['county_code']==i])
    CountyGroups.append(f'county{i}')

In [28]:
CountyGroups

['county0',
 'county1',
 'county2',
 'county3',
 'county4',
 'county5',
 'county6',
 'county7',
 'county8',
 'county9',
 'county10',
 'county11',
 'county12',
 'county13',
 'county14',
 'county15',
 'county16',
 'county17',
 'county18',
 'county19',
 'county20',
 'county21',
 'county22',
 'county23',
 'county24',
 'county25',
 'county26',
 'county27',
 'county28',
 'county29',
 'county30',
 'county31',
 'county32',
 'county33',
 'county34',
 'county35',
 'county36',
 'county37',
 'county38',
 'county39',
 'county40',
 'county41',
 'county42',
 'county43',
 'county44',
 'county45',
 'county46',
 'county47',
 'county48',
 'county49',
 'county50',
 'county51',
 'county52',
 'county53',
 'county54',
 'county55',
 'county56',
 'county57',
 'county58',
 'county59',
 'county60',
 'county61',
 'county62',
 'county63',
 'county64',
 'county65',
 'county66']

In [31]:
county42

,county,year,totalpopulation,average_yearly_wage,lowtiermedianhomevalue,hightiermedianhomevalue,singlefamilymedianhomevalue,value_inches,murder,rape,robbery,aggravated_assault,burglary,larceny,motor_vehicle_theft,index_per_100k,employment,unemployment,labor_force,unemployment_rate,county_code,SFMHVrange,SFMHVclass
740,Miami-Dade,2001-01-01,2285869,34524,89907.0,273026.0,156934.0,64.01,190.0,1111.0,8397.0,16238.0,26827.0,98426.0,23784.0,7655.0,1026885.0,48260,1075145,0.045,42,"(150000, 160000]",11
741,Miami-Dade,2002-01-01,2312478,35694,101930.0,310009.0,177452.0,54.86,204.0,1143.0,8435.0,15830.0,26120.0,95340.0,21205.0,7277.0,1008222.0,44888,1053110,0.043,42,"(170000, 180000]",13
742,Miami-Dade,2003-01-01,2345932,36889,119586.0,361807.0,207530.0,61.45,205.0,1241.0,8559.0,14880.0,25811.0,97027.0,20650.0,7177.0,1026479.0,39283,1065762,0.037,42,"(200000, 210000]",16
743,Miami-Dade,2004-01-01,2379818,38849,140344.0,426185.0,244443.0,45.76,218.0,1195.0,7774.0,14608.0,24627.0,92351.0,19052.0,6716.0,1046521.0,33567,1080088,0.031,42,"(240000, 250000]",20
744,Miami-Dade,2005-01-01,2422075,40599,175491.0,532778.0,307637.0,57.32,171.0,1024.0,7387.0,14764.0,25585.0,84229.0,17275.0,6211.0,1106002.0,27103,1133105,0.024,42,"(300000, 310000]",26
745,Miami-Dade,2006-01-01,2437022,42975,214456.0,641725.0,376292.0,46.57,240.0,1058.0,7538.0,14160.0,24525.0,80282.0,17019.0,5943.0,1155886.0,24619,1180505,0.021,42,"(370000, 380000]",33
746,Miami-Dade,2007-01-01,2462292,44228,220834.0,653713.0,386882.0,54.23,228.0,941.0,8872.0,13251.0,26713.0,87420.0,17177.0,6279.0,1194185.0,32870,1227055,0.027,42,"(380000, 390000]",34
747,Miami-Dade,2008-01-01,2477289,45142,181664.0,533586.0,315895.0,53.38,228.0,883.0,8047.0,12305.0,26030.0,88930.0,16100.0,6157.0,1169309.0,53286,1222595,0.044,42,"(310000, 320000]",27
748,Miami-Dade,2009-01-01,2472344,45231,130708.0,394497.0,224780.0,50.95,215.0,741.0,7054.0,11398.0,25345.0,85359.0,12150.0,5754.0,1083040.0,108135,1191175,0.091,42,"(220000, 230000]",18
749,Miami-Dade,2010-01-01,2496457,45653,111149.0,355742.0,198408.0,56.46,224.0,701.0,5958.0,11216.0,23111.0,84061.0,10906.0,5490.0,1085051.0,144330,1229381,0.117,42,"(190000, 200000]",15
750,Miami-Dade,2011-01-01,2516537,46438,101886.0,333509.0,183754.0,55.93,218.0,853.0,6157.0,10642.0,24227.0,84714.0,10848.0,5470.0,1140476.0,121479,1261955,0.096,42,"(180000, 190000]",14
751,Miami-Dade,2012-01-01,2551290,47011,106153.0,345554.0,188015.0,68.47,210.0,769.0,6006.0,9745.0,21109.0,83124.0,9459.0,5112.0,1185974.0,101339,1287313,0.079,42,"(180000, 190000]",14
752,Miami-Dade,2013-01-01,2582375,47458,124140.0,394333.0,213701.0,60.51,229.0,813.0,6370.0,9497.0,18935.0,82528.0,8332.0,4906.0,1176128.0,96689,1272817,0.076,42,"(210000, 220000]",17
753,Miami-Dade,2014-01-01,2613692,48883,143635.0,443120.0,244165.0,50.03,212.0,801.0,5706.0,9842.0,17115.0,80448.0,8478.0,4691.0,1210346.0,87849,1298195,0.068,42,"(240000, 250000]",20
754,Miami-Dade,2015-01-01,2653934,50527,156448.0,472372.0,265944.0,56.80,217.0,756.0,5366.0,9896.0,14534.0,76400.0,8800.0,4370.0,1215857.0,79416,1295273,0.061,42,"(260000, 270000]",22
755,Miami-Dade,2016-01-01,2700794,51259,171785.0,504108.0,292275.0,54.14,198.0,796.0,4831.0,9810.0,11774.0,75242.0,8568.0,4118.0,1233029.0,72230,1305259,0.055,42,"(290000, 300000]",25
756,Miami-Dade,2017-01-01,2743095,52961,186445.0,526828.0,316975.0,58.61,188.0,874.0,4032.0,9364.0,11628.0,72384.0,8702.0,3907.0,1287153.0,61853,1349006,0.046,42,"(310000, 320000]",27
757,Miami-Dade,2018-01-01,2779322,54800,198642.0,546685.0,339671.0,49.61,198.0,916.0,3653.0,8965.0,9178.0,69295.0,8336.0,3618.0,1303064.0,48610,1351674,0.036,42,"(330000, 340000]",29